
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D4CFCF;
}


.grid {
    display: grid;
    grid-template-columns: 265px 1fr;
    grid-template-rows: 150px 1fr auto; 
    
    height: 100vh; 
    grid-template-areas:
        "sidebar navbar"
        "sidebar content"
        "footer footer"; 
}
.con {
    
}
.sidebar {
    grid-area: sidebar;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo a img{
    max-width: 100%;
    text-decoration: none;
}

.sidebar ul li a {
    color: #fff; 
    font-size: 18px; 
    text-decoration: none;  
    
}


ul li a i{ /*ใส่สีโลโก้*/
    color: #FF6F31;
}


ul li{
    margin:23px 0;
}

ul{
    list-style: none;
    
}

.loginbox a{
  color: white;   
  text-decoration: none;
  background-color: #FF6F31;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 8px;
}

.sign a{
    color: rgb(0, 0, 0);   
    text-decoration: none;
    background-color: #ffffff;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;  
}



.navbar {
    grid-area: navbar;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: solid rgb(220, 218, 218);
    position: fixed;
    display: flex;
    left: 265px;
    width: 77.5%;
    padding: 10px;
    margin: 30px;
    
}

.navbar .map a{
    color: white;   
    text-decoration: none;
    background-color: #FF6F31;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 8px;
    
}

.navbar .station a{
    color: rgb(0, 0, 0);   
    text-decoration: none;
    background-color: #ffffff;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;

}

.map,.station{
    padding:0 1rem;
}



.searchcontainer {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}

#search-wrapper {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.276);
    align-items: stretch;
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
    max-width: 400px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.273);
}

#search {
    border: none;
    width: 100%;
    font-size: 15px;
    padding: 10px;
}

#search:focus {
    outline: none;
}

.search-icon {
    margin: 10px;
    color: rgba(0, 0, 0, 0.564);
}

#search-button {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #FF6F31;
    padding: 0px 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


.content {
    grid-area: content;
    padding: 30px;
    margin: 10px;
    
}
.footer {
    grid-area: footer;
    background-color: #333;
}

